[Unit]
Description=Photogallery Create Photo Paths
After=network.target

[Service]
User=pi
Group=www-data
WorkingDirectory=/home/pi/Projects/photogallery
ExecStart=/home/pi/Projects/photogallery/venv/bin/python /home/pi/Projects/photogallery/manage.py create_photo_paths /mnt/Bhavesh2TB/Photo/Exports/

[Install]
WantedBy=multi-user.target

